<ion-content padding class="main-view">
    <div class="overlay" (click)="closeSignupModal()"></div>
        <div class="modal_content">
            <ion-icon name="close" class="signup-modal-close-icon" title="Close" (click)="closeSignupModal()" ></ion-icon>
        <div class="circle">
        </div> 

        <div class="modal-content">
            <h2><u>Registration Guidelines!</u></h2>
            <ul>
                <li><b><u>Full Name</u> :</b> Enter your firstname,middlename and lastname.</li>
                <li><b><u>Email</u> :</b> Enter any email address to register in the app,it can be different than your gmail account.</li>
                <li><b><u>Mobile No</u> :</b> Enter your 10 digits mobile number,do not enter country code ex:+91 or 0.</li>
                <li><b><u>Date of Birth</u> :</b> Enter you birth date (date,month,year).</li>
                <li><b><u>Password</u> :</b> Enter password, it must be at least 6 characters long.</li>
              </ul>
        </div>
    </div>
</ion-content>
  