/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-menu {
    --ion-background-color: #58427c;
    --ion-text-color: white;
}
ion-content {
    --ion-background-color: #58427c;
}
ion-label {
    --ion-text-color: white;
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    min-height: 100px;
    .logo-section_wrapper{
        text-align: center;
        .logo-section_logo{
            display: block;
            width: 150px;
            height:150px;
            border-radius: 100%;
        }
        .logo-section_title{
            font-size: 1.5rem;
            font-weight: normal;
            color: white;
        }
    }
}
